project_name = "integradora"
environment  = "dev"
location     = "mexicocentral"

vnet_address_space = ["10.10.0.0/16"]

subscription_id = "pruebA"

tags = {
  managed_by  = "terraform"
  owner       = "it"
  cost_center = "utvt"
}
